{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
<div class="content">
    <div class="container">

        <!-- START: PAGE CONTENT -->
        <div class="page-404">
            <h2>4<span>0</span>4</h2>
            <p>Ooops! This page doesn't even exist</p>
            <a class="btn btn-lg btn-border" href="/">Go To The Homepage ?</a>
        </div>
        <!-- END: PAGE CONTENT -->

    </div><!-- .container -->
</div><!-- .content -->
